body {
  background-color: #fdf0c2;
  transition: all 1s;
}
.body-dark{
  background-color:#010101;
  color: aliceblue;
}
.header-container {
  display: flex;
  height: 15vh;
  justify-content: space-evenly;
  align-items: center;
  background-color: #a0885d;
  transition: all 1s;
}
.header-dark{
  background-color: #a03456;
  color: aliceblue;
}
.header-container img {
  height: 100%;
}
.header-container h2 {
  font-family: "Share Tech Mono", monospace;
  font-weight: 700;
  font-size: 1.7em;
}
.bounce {
  display: inline-block;
  animation: bounce 1.7s infinite;
  transition: all 1s;
}
@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(20px);
    color: #29627c;
  }
  40% {
    transform: translateY(-20px);
    color: #746915;
  }
  60% {
    transform: translateY(-30px);
  }
}
.bounce-dark {
  display: inline-block;
  animation: bounce-dark 1.7s infinite;
}
@keyframes bounce-dark {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(20px);
    color: #f970ad;
  }
  40% {
    transform: translateY(-20px);
    color: #4890de;
  }
  60% {
    transform: translateY(-30px);
  }
}
.cont-mode {
  border: 2px solid #2644a0;
  border-radius: 50px;
  width: 55px;
  height: 25px;
  padding: 3px;
  background-color: #dfb912;
  cursor: pointer;
  transition: all 1s;
}
.cont-mode-dark{
  border: 2px solid #f970ad;
  background-color: #40bda0;
}
.toggle {
  border-radius: 50%;
  background-color: #2644a0;
  height: 100%;
  width: 45%;
  position: relative;
  /*left: 55%;*/
  left: 0%;
  transition: 1.3s;
  transition: 1s;
}
.toggle-dark {
  background-color: #f970ad;
  left: 55%;
  transition: 1s;
}
.container {
  display: flex;
  width: 100%;
  height: 80vh;
}
main {
  flex: 1;
  width: 65%;
  background-color: #ddc092;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  overflow: hidden;
  height: 80vh;
  transition: all 1s;
}
.main-dark{
  background-color: #301020;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.input-data {
  font-family: "Share Tech Mono", monospace;
  width: 90%;
  max-width: 90%;
  height: 30%;
  max-height: 60%;
  background: transparent;
  border: 1px solid #999071;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  font-size: 1.2em;
  transition: all 1s;
}
.input-d-dark{
  border-color: #a03456;
  color: #40bda0;
}
.sign {
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 55%;
  width: 1em;
  text-align: center;
  transition: all 1s;
}
.sign-dark{
  background-color: white;
  color: black;
}
.cont-button {
  height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.btn-encript,.btn-desencript{
  width: 200px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 10px 0;
  font-family: "Share Tech Mono", monospace;
  font-weight: 600;
  background-color: #dfb932;
  margin: 0 20px;
  transition: 0.5s;
}
.btn-dark{
  background-color: #40bda0;
}
.btn-encript:hover,.btn-desencript:hover {
  background-color: #2644a0;
  color: #ddc092;
  transform: scale(1.1);
}
.btn-dark:hover{
  background-color: #f970ad;
  color: #301020;
}
.cont-button button:active {
  transform: scale(0.9);
}
aside {
  padding: 5px 10px;
  margin: 10px;
  background-color: #dfb972;
  font-family: "Share Tech Mono", monospace;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  height: 80vh;
  width: 30%;
  transition: all 1s;
}
.aside-dark{
  background-color: #402030;
}
.aside-dark .text-user,.aside-dark .text-status{
  color: aliceblue;
}
aside h3 {
  font-weight: 800;
  text-decoration: overline underline;
}
.text-user {
  text-align: center;
  max-width: 80%;
  margin: 20px 0 0 0;
}
.img-not-found {
  height: 80%;
}
.img-found {
  display: none;
}
.off{
  display: none;
}
.on{
  display: block;
  background-color: #29627c;
  color: aliceblue;
  border: none;
  padding: 10px 40px;
  border-radius: 10px;
  cursor: pointer;
}
.on:hover{
  transform: scale(1.1);
}
.btn-copy-dark{
  background-color: #301020;
  color: #ddc092;
}
.footer {
  margin: 30px 0 0 0;
  height: 10vh;
  background-color: #746915;
  color: #a2e1f0;
  display: grid;
  place-content: center;
  font-family: "Share Tech Mono", monospace;
  padding: 10px;
  font-size: 1.1em;
  text-align: center;
  transition: all 1s;
}
.footer-dark{
  background-color: #a03456;
}